# .env file for open_trading_algo
# Rename the file to secrets.env and add your API keys below.
# Store your API keys here. Example:
# FINNHUB_API_KEY=your_finnhub_key
# FMP_API_KEY=your_fmp_key
# ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key
# TWELVE_DATA_API_KEY=your_twelve_data_key
# TIINGO_API_KEY=your_tiingo_key
# NEWS_API_KEY=your_news_api_key
# IEX_CLOUD_API_KEY=your_iex_cloud_key
# POLYGON_API_KEY=your_polygon_key
# COINAPI_API_KEY=your_coinapi_key
# CRYPTOCOMPARE_API_KEY=your_cryptocompare_key
# NOMICS_API_KEY=your_nomics_key
